<div class="tsPageContainer">
  <h2 style="margin-bottom: 5px;">{{'Calendar'}}</h2>
  <p style="font-size: 11px; margin-bottom: 35px; color: #828282">{{'A Component for working with dates. You can select either one day or a range of days'}}</p>
  <h3 style="margin-bottom: 10px;">{{'Overview'}}</h3>

  <ts-overview [linkList]="['Preview', 'TypeScript', 'HTML']" [ngSwitch]="selectedSwitchSection"
               (selectedSection)="getSelecteSection($event)">

    <div *ngSwitchCase="'Preview'">
      <ts-calendar (onSelect)="selectDay($event)"></ts-calendar>
      <span *ngIf="selectedDate" style="margin-top: 20px; display: inline-block">{{'Date to act: '}}<span
        style="font-weight: bold">{{selectedDate}}</span></span>
    </div>

    <div *ngSwitchCase="'TypeScript'">
      {{'TypeScript'}}
    </div>

    <div *ngSwitchCase="'HTML'">
      {{'HTML'}}
    </div>

  </ts-overview>
</div>
