<div class="tsPageContainer">
  <h2 style="margin-bottom: 5px">{{ "Filter" }}</h2>
  <p style="font-size: 11px; margin-bottom: 35px; color: #828282">
    {{ "A Component filter data by request conditions" }}
  </p>
  <h3 style="margin-bottom: 10px">{{ "Overview" }}</h3>

  <ts-overview
  [linkList]="['Preview', 'TypeScript', 'HTML']"
  [ngSwitch]="selectedSection"
  (selectedSection)="selectedSwitchSection($event)">

  <div *ngSwitchCase="'Preview'">
    <div style="display: flex;">
      <div style="margin-right: 50px; min-width: 80px;">
        <ul>
          <li *ngFor="let item of items; let i = index" style="color: var(--primary__text)" class="itemList">{{item.name}}</li>
        </ul>
      </div>
      <ts-filter [filters]="filterList"
                 (onSelect)="getSelectedFilters($event)">
      </ts-filter>
    </div>
  </div>
  <div *ngSwitchCase="'TypeScript'">{{'TypeScript'}}</div>
  <div *ngSwitchCase="'HTML'">{{'HTML'}}</div>

</ts-overview>
</div>
