<div class="tsPageContainer">
  <h2 style="margin-bottom: 5px;">{{'Segmented'}}</h2>
  <p style="font-size: 11px; margin-bottom: 35px; color: #828282">{{'A Component alike tabs switcher'}}</p>
  <h3 style="margin-bottom: 10px;">{{'Overview'}}</h3>
  <ts-overview [linkList]="['Preview', 'TypeScript', 'HTML']"
               (selectedSection)="getSelectedSection($event)"
               [ngSwitch]="selectedSwitchSection">

    <div *ngSwitchCase="'Preview'">
      <ts-segmented [segments]="['Accordion','Calendar','Select','Elastic Container']"></ts-segmented>
      <ts-segmented [segments]="['Robin','Rachel', 'Riley Abel']"></ts-segmented>
    </div>

    <div *ngSwitchCase="'TypeScript'">
      {{'TypeScript'}}
    </div>

    <div *ngSwitchCase="'HTML'">
      {{'HTML'}}
    </div>

  </ts-overview>
</div>
