.lazyLoading {
  max-height: 500px;
  min-height: 500px;
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  color: white;
}

.game {
  display: flex;
  padding: 10px;
  margin-bottom: 50px;
  width: 474px;
  margin-left: auto;
  margin-right: auto;
  height: 497px;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: 100% 64%;
  border-radius: 8px;
}
