<div class="tsPageContainer">
  <h2 style="margin-bottom: 5px">{{ "Field" }}</h2>
  <p style="font-size: 11px; margin-bottom: 35px; color: #828282">
    {{ "A Component that inserts a header to other components." }}
  </p>
  <h3 style="margin-bottom: 10px">{{ "Overview" }}</h3>

  <ts-overview
    [linkList]="['Preview', 'TypeScript', 'HTML']"
    [ngSwitch]="selectedSection"
    (selectedSection)="selectedSwitchSection($event)">

    <div *ngSwitchCase="'Preview'">

      <ts-field [name]="'Default input'">
        <ts-input
          [placeholder]="'Enter a value'"
          [clear]="true"
          (onChange)="getDefaultValue($event)">
        </ts-input>
      </ts-field>

      <div style="margin: 20px 0;"></div>

      <ts-field [name]="'Password'">
        <ts-input [placeholder]="'Enter your password'"
                  [mode]="'password'"
                  (onChange)="getPinCode($event)"
                  [clear]="true">
        </ts-input>
      </ts-field>

      <div style="margin: 20px 0;"></div>

      <ts-field [name]="'Bank Card'">
        <ts-input [placeholder]="'Enter your Bank Card'"
                  class="probe"
                  [mode]="'bank_card'"
                  (onChange)="getBankCardNumber($event)"
                  [clear]="true">
        </ts-input>
      </ts-field>


    </div>

    <div *ngSwitchCase="'TypeScript'">
      <button (click)="readFile()">{{ "Read file" }}</button>
    </div>

    <div *ngSwitchCase="'HTML'">HTML</div>
  </ts-overview>
</div>
