.tsInput {
  min-height: 40px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1019607843);
  transition: 0.2s;
}

.tsInput:hover {
  cursor: text;
  box-shadow: 0 0.22rem 0.1875rem rgba(0, 0, 0, 0.1019607843);
  transition: 0.2s;
}

.tsInput:focus {
  outline: none;
}
