.tsInput {
  position: relative;

  &__input {
    position: relative;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 8px;
    z-index: 200;
    background-color: transparent;
    box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1019607843);
  }

  &__input:focus + &__placeholder {
    top: 2px;
    transition: 0.2s;
    font-size: 11px;
  }

  &__placeholder {
    height: 20px;
    position: absolute;
    left: 16px;
    top: 12px;
    transition: 0.2s;
    color: var(--light-grey);
    user-select: none;
  }
}

.propClass {
  top: 2px;
  font-size: 11px;
}
