.tsInput {
  position: relative;

  &__input {
    position: relative;
    padding: 1rem 4rem 1rem 1rem;
    min-height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid var(--input_border);
    color: var(--primary__text);
    border-radius: 8px;
    z-index: 10;
    background-color: transparent;
    box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1019607843);
  }

  &__input:focus + &__placeholder {
    top: 4px;
    line-height: 14px;
    transition: 0.2s;
    font-size: 11px;
  }

  &__placeholder {
    height: 20px;
    position: absolute;
    left: 16px;
    top: 12px;
    transition: 0.2s;
    color: var(--light-grey);
    user-select: none;
  }

  &__close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
    z-index: 11;
    //background-color: red;
  }

  &__close-btn:hover {
    cursor: pointer;
  }

  &__close-btn::before,
  &__close-btn::after {
    content: "";
    position: absolute;
    top: 7px;
    width: 16px;
    border: 1px solid var(--light-grey);
    transition: 0.2s;
  }

  &__close-btn::after {
    transform: rotate(314deg);
  }

  &__close-btn::before {
    transform: rotate(45deg);
  }

  &__close-btn:hover:before,
  &__close-btn:hover:after {
    border-color: #767676;
    transition: 0.2s;
  }

  &__view-icon {
    position: absolute;
    top: 16px;
    right: 36px;
    width: 20px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--password_hide_icon);
    z-index: 11;
  }

  &__view-icon:hover {
    cursor: pointer;
  }
}

.propClass {
  top: 4px;
  line-height: 14px;
  font-size: 11px;
}

input.hidePassword {
  font-family: "Password";
  color: var(--primary__text)
}

input.showPassword {
  font-family: "Montserrat", sans-serif;
}

// @mixin backgroundUrl($card_type){
//   @if $card_type == 'visa' {

//   }@else if $card_type == 'mastercard' {

//   }@else if $card_type == 'amercian_express' {

//   }@else {

//   }
// }
