.overview {
  min-width: 300px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.1875rem #0000001a;
  border: 1px solid #ededed;

  &__header {
    padding: 12px 0.875rem 12px 2rem;
    background-color: var(--overview_background);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    &__link {

      &--switch {
        display: inline;
        margin-right: 20px;
        background: none;
        border: none;
        color: var(--primary__text);
      }

      &--switch:hover {
        cursor: pointer;
      }
    }
  }

  &__bodyContent {
    padding: 1.5rem 2rem;
    min-height: 200px;
    height: fit-content;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--overview_background);
    overflow-x: scroll;
  }
}
