<div [ngClass]="[rounded ? 'rounded' : 'not-rounded', 'ts-accordion']">
  @for (item of data; track item; let i = $index) {
    <ng-content [ngClass]="[openedSlideIndex === i && isOpened ? 'opened' : 'closed']"></ng-content>

    <div [ngClass]="['ts-accordion_container']"
         (click)="openDescription(i)"
    >
      <h3>{{ item.title }}</h3>
      <span [ngClass]="[openedSlideIndex === i && isOpened ? 'rotate' : '', 'ts-accordion_container-arrow']"></span>
    </div>

    <div
      [ngClass]="[(rounded) ? 'lastRounded': '', 'ts-accordion_desc']">
      <p [ngClass]="openedSlideIndex === i && isOpened ? 'opened' : 'closed'"
      >{{ item.text }}</p>
    </div>
  }
</div>
