<div *ngFor="let item of data; let i = index" class="ts-accordion" [ngClass]="[(rounded ? 'rounded' : 'not-rounded')]">
  <ng-content></ng-content>
  <div class="ts-accordion_container" (click)="openDescription(i)">
    <h3 >{{item.title}}</h3>
    <span class="ts-accordion_container-arrow" [ngClass]="openedSlideIndex === i && isOpened ? 'rotate' : ''"></span>
  </div>
  <div class="ts-accordion_desc" [ngClass]="[(rounded) ? 'lastRounded': '']">
    <p [ngClass]="openedSlideIndex === i && isOpened ? 'opened' : 'closed'">{{item.text}}</p>
  </div>
</div>
