<!--<div>{{'All tags were removed. But TS UI is still an awesome UI-kit library'}}</div>-->


<div class="tsBlockStatus">
  @if (status === '404') {
    <div src="./20602784_6339696.svg" class="tsBlockStatus__img notfound"></div>
    <h3 class="tsBlockStatus__title" class="tsBlockStatus__title">{{'Not found'}}</h3>
    <div class="tsBlockStatus__desc" class="tsBlockStatus__desc">{{'Current URL is not valid'}}</div>
  }
  @else if(status === 'error') {
    <div src="./20602784_6339696.svg" class="tsBlockStatus__img error"></div>
    <h3 class="tsBlockStatus__title" class="tsBlockStatus__title">{{'Error'}}</h3>
    <div class="tsBlockStatus__desc" class="tsBlockStatus__desc">{{'Something gone wrong. Please refresh your page'}}</div>
  }


</div>
