.tsSelect {

  &__select {
    display: flex;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.1875rem #0000001a;
    border: 1px solid #ededed;
    transition: .2s;
  }

  &__select:hover {
    cursor: pointer;
    box-shadow: 0 0.220rem 0.1875rem #0000001a;
    transition: .2s;
  }

  &__select:checked {
    padding: 20px;
  }

}
