.tsSelect {
  position: relative;
  color: var(--primary__text);

  &__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 10px;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.1875rem #0000001a;
    border: 1px solid #ededed;
    transition: .2s;
    background: var(--select_background);

    &--btn {
      height: 10px;
      width: 10px;
      transform: rotate(224deg);
      border-top: 2px solid #000;
      border-left: 2px solid #000;
      transition: .2s;
    }

  }

  &__select:hover {
    cursor: pointer;
    box-shadow: 0 0.220rem 0.1875rem #0000001a;
    transition: .2s;
  }

  &__select:checked {
    padding: 20px;
  }

  &__dropdown {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    background: var(--select_background);
    box-shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.1019607843);

    &--hidden {
      position: absolute;
      top: 50px;
      transition: .1s;
      opacity: 0;
    }

    &--showed {
      position: absolute;
      top: 65px;
      z-index: 1000;
      transition: .1s;
    }

    &--item {
      margin: 3px 0;
      padding: .775rem .625rem;
      transition: .2s;

      &--flex {
        display: flex;
        justify-content: space-between;

        &--checked {
          width: 7px;
          height: 11px;
          border: solid #9f9f9f;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    }

    &--item:hover {
      cursor: pointer;
      border-radius: 8px;
      background-color: var(--select_background_hover);
      transition: .2s;
    }
  }

}
