<div class="tsSidebar">
  <div class="tsSidebar_leftbox">
    <div>
      <a routerLink="" class="tsSidebar_logo"></a>
      <span style="display: inline-block">by <b>Sergey Tsoy</b></span>
    </div>
    <ul class="tsSidebar_leftbox-list">
      <li (click)="selectSection('button')" class="tsSidebar_leftbox-item">Buttons</li>
      <li (click)="selectSection('accordion')" class="tsSidebar_leftbox-item">Accordion</li>
      <li (click)="selectSection('calendar')" class="tsSidebar_leftbox-item">Calendar</li>
    </ul>
  </div>
  <div [ngSwitch]="section" class="tsSidebar_rightbox" style="width: 100%">
    <ts-header></ts-header>
    <ts-header></ts-header>
    <div *ngSwitchCase="'button'" class="tsSidebar_rightbox-section">
      <div>
        <ts-button appearance="outline" icon="fa fa-battery-quarter" [size]="'m'"
          (click)="showMessage('Button with size `S`')" [disabled]="false">It`s size 'S'
        </ts-button>
        <ts-button appearance="primary" [size]="'m'" (click)="showMessage('Button with size `M`')"
          [disabled]="false">It`s size 'M' without icon
        </ts-button>
        <ts-button appearance="accent" icon="fa fa-address-book" [size]="'l'"
          (click)="showMessage('Button with size `L`')" [disabled]="false">It`s 'L' size but width can be extended
        </ts-button>
      </div>
    </div>
    <div *ngSwitchCase="'accordion'" class="tsSidebar_rightbox-section">
      <div style="margin-bottom: 5px">
        <ts-accordion [data]="content" [rounded]="true">
        </ts-accordion>
      </div>
      <div>
        <ts-accordion [data]="content2" [rounded]="false">
        </ts-accordion>
      </div>
    </div>
    <div *ngSwitchCase="'calendar'" class="tsSidebar_rightbox-section">
      <ts-calendar (onSelect)="selectDay($event)"></ts-calendar>
    </div>
  </div>

</div>
