<div class="tsSidebar">
  <div class="tsSidebar_leftbox">
    <div>
      <a routerLink="" class="tsSidebar_logo"></a>
      <span style="display: inline-block">by <b>Sergey Tsoy</b></span>
    </div>
    <ul class="tsSidebar_leftbox-list">
      <li class="tsSidebar_leftbox-item"><a routerLink="/buttons">{{'Buttons'}}</a></li>
      <li class="tsSidebar_leftbox-item"><a routerLink="/accordion">{{'Accordion'}}</a></li>
      <li class="tsSidebar_leftbox-item"><a routerLink="/calendar">{{'Calendar'}}</a></li>
      <li class="tsSidebar_leftbox-item"><a routerLink="/checkbox">{{'Checkbox'}}</a></li>
      <li class="tsSidebar_leftbox-item"><a routerLink="/elasticcontainer">{{'Elastic Container'}}</a></li>
      <li class="tsSidebar_leftbox-item"><a routerLink="/dialog">{{'Dialog'}}</a></li>
    </ul>
  </div>

  <div [ngSwitch]="section" class="tsSidebar_rightbox" style="width: 100%">
    <ts-header></ts-header>

    <!--<div *ngSwitchCase="'checkbox'" class="tsSidebar_rightbox-section">
      <ts-checkbox [label]="'hired'" (onChecked)="isHired($event)"></ts-checkbox>
      <ts-checkbox [label]="'married'" [disabled]="true"></ts-checkbox>
    </div>

    <div *ngSwitchCase="'container'" class="tsSidebar_rightbox-section">
      <ts-overview [linkList]="['Preview', 'TypeScript', 'HTML']" (selectedSection)="getSelectedSection($event)"
        [ngSwitch]="switchSection">
        <ts-elastic-container [content]="eCData" *ngSwitchCase="'Preview'"></ts-elastic-container>
        <ts-checkbox *ngSwitchCase="'TypeScript'"></ts-checkbox>
        <ts-calendar *ngSwitchCase="'HTML'"></ts-calendar>
      </ts-overview>
    </div>

    <div *ngSwitchCase="'dialog'" class="tsSidebar_rightbox-section">
      <ts-dialog>
        <p>{{'asdasd'}}</p>
      </ts-dialog>
    </div> -->
    <router-outlet></router-outlet>
  </div>
