.tsSidebar {
  display: flex;

  &_logo {
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &_leftbox {
    max-width: 260px;
    min-width: 260px;
    height: 100vh;
    padding: 0 15px;
    -webkit-box-shadow: 11px 0px 17px -9px rgba(34, 60, 80, 0.27);
    -moz-box-shadow: 11px 0px 17px -9px rgba(34, 60, 80, 0.27);
    box-shadow: 11px 0px 17px -9px rgba(34, 60, 80, 0.27);
    //background: #6e83cd;

    &-list {}

    &-item {
      margin-bottom: 10px;
    }

    &-item a {
      text-decoration: none;
    }

    &-item:hover {
      cursor: pointer;
    }
  }

  &_rightBox {
  }
}
