<div class="tsSidebar">
  <div class="tsSidebar_leftbox">
    <div>
      <a routerLink="" class="tsSidebar_logo"></a>
      <span style="display: inline-block">by <b>Sergey Tsoy</b></span>
    </div>
    <ul class="tsSidebar_leftbox-list">
      <li class="tsSidebar_leftbox-item"><a routerLink="/buttons">{{'Buttons'}}</a></li>
      <li class="tsSidebar_leftbox-item"><a routerLink="/accordion">{{'Accordion'}}</a></li>
      <li class="tsSidebar_leftbox-item"><a routerLink="/calendar">{{'Calendar'}}</a></li>
      <li class="tsSidebar_leftbox-item"><a routerLink="/checkbox">{{'Checkbox'}}</a></li>
      <li class="tsSidebar_leftbox-item"><a routerLink="/elasticcontainer">{{'Elastic Container'}}</a></li>
      <li class="tsSidebar_leftbox-item"><a routerLink="/dialog">{{'Dialog'}}</a></li>
      <li class="tsSidebar_leftbox-item"><a routerLink="/dropdown">{{'Dropdown'}}</a></li>
      <li class="tsSidebar_leftbox-item"><a routerLink="/select">{{'Select'}}</a></li>
      <li class="tsSidebar_leftbox-item"><a routerLink="/tag">{{'Tags'}}</a></li>
      <li class="tsSidebar_leftbox-item"><a routerLink="/blockstatus">{{'Block Status'}}</a></li>
    </ul>
  </div>

  <div [ngSwitch]="section" class="tsSidebar_rightbox" style="width: 100%; max-height: 100vh; overflow-y: auto;">
    <ts-header></ts-header>
    <router-outlet></router-outlet>
  </div>
</div>
