.tsSidebar {
  display: flex;

  &_logo {
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &_leftbox {
    max-width: 260px;
    min-width: 260px;
    height: 100vh;
    padding: 0 15px;
    background-color: var(--sidebar_background);
    -webkit-box-shadow: 11px 0px 17px -9px rgba(34, 60, 80, 0.27);
    -moz-box-shadow: 11px 0px 17px -9px rgba(34, 60, 80, 0.27);
    box-shadow: 11px 0px 17px -9px rgba(34, 60, 80, 0.27);
    //background: #6e83cd;

    &--creator {
      color: var(--heading_title)
    }

    &-list {}

    &-item {
      margin-bottom: 10px;
    }

    &-item  span{
      color: var(--primary__text);
    }

    &-item a {
      text-decoration: none;
    }

    &-item:hover {
      cursor: pointer;
    }
  }

  &_rightbox {
    background-color: var(--sidebar_background);
    z-index: 2000;
  }
}
