<!--<ts-button [size]="'m'"-->
<!--           (click)="switchDarkMode()">Dark Theme-->
<!--</ts-button>-->
<!--<div style="width: 1200px; margin: 20px auto">-->
<!--  <div>-->
<!--    <ts-button appearance="outline"-->
<!--               icon="fa fa-battery-quarter"-->
<!--               [size]="'m'"-->
<!--               (click)="showMessage('Button with size `S`')"-->
<!--               [disabled]="false">It`s size 'S'-->
<!--    </ts-button>-->
<!--    <ts-button appearance="primary"-->
<!--               [size]="'m'"-->
<!--               (click)="showMessage('Button with size `M`')"-->
<!--               [disabled]="false">It`s size 'M' without icon-->
<!--    </ts-button>-->
<!--    <ts-button appearance="accent"-->
<!--               icon="fa fa-address-book"-->
<!--               [size]="'l'"-->
<!--               (click)="showMessage('Button with size `L`')"-->
<!--               [disabled]="false">It`s 'L' size but width can be extended-->
<!--    </ts-button>-->
<!--  </div>-->
<!--  <div style="margin-bottom: 5px">-->
<!--    <ts-accordion [data]="content"-->
<!--                  [rounded]="true">-->
<!--    </ts-accordion>-->
<!--  </div>-->
<!--  <div>-->
<!--    <ts-accordion [data]="content2"-->
<!--                  [rounded]="false">-->
<!--    </ts-accordion>-->
<!--  </div>-->
<!--</div>-->
<ts-sidebar></ts-sidebar>
<router-outlet></router-outlet>
