<div *ngIf="tagList.length; else noData;">
  <span *ngFor="let tag of tagList; let i = index"
        [ngStyle]="{'border-radius': rounded ? '8px' : '0px'}"
        class="tsTag">
      {{tag}}
    <button *ngIf="closeBtn"
            class="tsTag__flexbox-close"
            (click)="deleteTag(tag,i)">
    </button>
  </span>
</div>

<ng-template #noData>
  <div class="warning">
    <h4>{{'Attention'}}</h4>
    <span [ngStyle]="{'font-size': '13px'}">
      {{'All tags were removed. But TS UI is still an awesome UI-kit library'}}
    </span>
  </div>
</ng-template>


