<div class="tsPageContainer">
  <h2 style="margin-bottom: 5px;">{{'Select'}}</h2>
  <p style="font-size: 11px; margin-bottom: 35px; color: #828282">{{'A Component for selecting a value from a drop-down list. The list is specified by the developer'}}</p>
  <h3 style="margin-bottom: 10px;">{{'Overview'}}</h3>

  <ts-overview [linkList]="['Preview', 'TypeScript', 'HTML']" [ngSwitch]="selectedSection"
    (selectedSection)="selectedSwitchSection($event)">

    <div *ngSwitchCase="'Preview'">
      <ts-select [title]="'Currency'"></ts-select>
    </div>

    <div *ngSwitchCase="'TypeScript'">
      {{'TypeScript'}}
    </div>

    <div *ngSwitchCase="'HTML'">
      {{'HTML'}}
    </div>

  </ts-overview>
</div>
