<div class="tsPageContainer">
  <h2 style="margin-bottom: 5px;">{{'Field'}}</h2>
  <p
    style="font-size: 11px; margin-bottom: 35px; color: #828282">{{'A Component that inserts a header to other components.'}}</p>
  <h3 style="margin-bottom: 10px;">{{'Overview'}}</h3>

  <ts-overview [linkList]="['Preview', 'TypeScript', 'HTML']" [ngSwitch]="selectedSection"
               (selectedSection)="selectedSwitchSection($event)">

    <div *ngSwitchCase="'Preview'">

      <ts-field [name]="'It`s Dropdownlist'">
        <ts-select [title]="'Field demonstration'"
                   [placeholder]="'Select value'"
                   [dropdownList]="[{label: 'Germany', value: 1},{label: 'Spain', value: 2},{label: 'Greece', value: 3}]">
        </ts-select>
      </ts-field>
      <div style="margin: 40px 0"></div>
      <ts-field [name]="'It`s Checkbox'">
        <ts-checkbox>{{'Try to disagree'}}</ts-checkbox>
      </ts-field>

    </div>

    <div *ngSwitchCase="'TypeScript'">
      {{'TypeScript'}}
    </div>

    <div *ngSwitchCase="'HTML'">
      {{'HTML'}}
    </div>

  </ts-overview>
</div>
