@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



:root {
  // sidebar
  --sidebar_background: transparent;

  //butons
  --accent_btn: #e16e49;
  --primary_btn: #526ed3;

  --primary__text: #000000;
  --primary__desc: #000000;
  --light-grey: #acacac;
  --border_color: #cecece;
  --heading_title: #000000;
  --accordion_blackground: #fff;
  --overview_background: rgb(244 244 244 / 34%)



}

[theme="dark"] {
  --sidebar_background: rgb(16, 20, 24);


  //buttons
  --primary_btn: #526ed3;
  --accent_btn: #e16e49;


  --primary__text: #F3F6F9;
  --primary__desc: #B0B8C4;
  --border_color: rgba(59, 74, 89);
  --heading_title: rgb(102, 178, 255);
  --accordion_blackground: #2c2c2c52;
  --overview_background:  rgb(15, 25, 36);

}















* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
}

.tsPageContainer {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
