@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://db.onlinewebfonts.com/c/51b459eae74df5b00ba922028ccb20be?family=Password');


:root {
  // sidebar
  --sidebar_background: transparent;

  //butons
  --accent_btn: #e16e49;
  --primary_btn: #526ed3;

  --primary__text: #000000;
  --primary__desc: #000000;
  --light-grey: #acacac;
  --border_color: #cecece;
  --heading_title: #000000;
  --accordion_background: #fff;
  --overview_background: rgb(244 244 244 / 34%);
  --dialog_background: #fff;
  --select_background: #fff;
  --select_background_hover: #f8f8f8;
  --input_border: transparent;
  --dialog_close_btn: rgb(192 192 192);
  --dialog_close_btn_bgrd: #464646ad;
  --dialog_close_btn_bgrd_hover: #2c2c2cad;
  --password_hide_icon: url("http://localhost:4200/light.png");
  --filter_btn_background: #fff;
  --filter_btn_background_border: rgb(228 228 228);
  --filter_btn_background_hover: #ececec;


}

[theme="dark"] {
  --sidebar_background: rgb(16, 20, 24);


  //buttons
  --primary_btn: #526ed3;
  --accent_btn: #e16e49;


  --primary__text: #F3F6F9;
  --primary__desc: #B0B8C4;
  --border_color: rgba(59, 74, 89);
  --heading_title: rgb(102, 178, 255);
  --accordion_background: #2c2c2c52;
  --overview_background: rgb(15, 25, 36);
  --dialog_background: rgb(15, 25, 36);
  --select_background: #1c2432;
  --select_background_hover: rgba(74, 101, 145, 0.24);
  --input_border: rgba(59, 74, 89);
  --dialog_close_btn: rgb(192 192 192);
  --dialog_close_btn_bgrd: #464646ad;
  --dialog_close_btn_bgrd_hover: #605f5fad;
  --password_hide_icon: url("http://localhost:4200/dark.png");
  --filter_btn_background: rgba(255, 255, 255, .16);
  --filter_btn_background_border: transparent;
  --filter_btn_background_hover: rgb(255 255 255 / 29%);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
}

.tsPageContainer {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
