@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



:root {
  // sidebar
  --sidebar_background: #e9ecef;

  //butons
  --accent_btn: #e16e49;
  --primary_btn: #526ed3;
  
  
  --light-grey: #acacac;

  
  
}

[theme="dark"] {
  --sidebar_background: rgb(24, 24, 24);


  //buttons
  --primary_btn: #526ed3;
  --accent_btn: #e16e49;
}















* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
}

.tsPageContainer {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
