.dialog {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.65);

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 200px;
    padding: 10px 15px;
    border-radius: 12px;
    background-color: #fff;
  }
}
