.dialog {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.65);

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 20px 15px;
    border-radius: 12px;
    background-color: var(--dialog_background);

    &__btn {
      position: absolute;
      top: 0;
      right: -36px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      color: white;
      background-color: #0000002b;
    }

    &__btn::before,
    &__btn::after {
      content: " ";
      position: absolute;
      top: 7px;
      left: 14px;
      height: 17px;
      width: 2px;
      background-color: white;
    }

    &__btn::after {
      transform: rotate(45deg);
    }

    &__btn::before {
      transform: rotate(-45deg);
    }

    &__btn:hover {
      cursor: pointer;
      background-color: #00000059;
    }
  }
}
